.env
!./bonus/deploy/app/your_app/.env
my_probe.sql
# package-lock.json
.vscode/**
*.session.*
node_modules/**
**/node_modules/**
**/**/node_modules/**
bonus/files/data/current_state/**
bonus/files/data/current_state/sys/**
bonus/files/data/current_state/aria_log.*
bonus/files/data/current_state/mysql/**
bonus/files/data/current_state/my_database/**
bonus/files/data/current_state/my_epy_todo/**
bonus/files/data/current_state/mariadb_location/**
bonus/files/data/current_state/performance_schema/**
