.env
!./bonus/deploy/app/your_app/.env
!./bonus/files/app/your_app/.env
my_probe.sql
# package-lock.json
.vscode/**
*.session.*
node_modules/**
**/node_modules/**
**/**/node_modules/**
**/**/**/node_modules/**
**/**/**/**/node_modules/**
bonus/**/data/current_state/**
bonus/**/data/current_state/sys/**
bonus/**/data/current_state/aria_log.*
bonus/**/data/current_state/mysql/**
bonus/**/data/current_state/my_database/**
bonus/**/data/current_state/my_epy_todo/**
bonus/**/data/current_state/mariadb_location/**
bonus/**/data/current_state/performance_schema/**
bonus/**/html/server_data/logs/**
bonus/deploy/html/server_data/logs/**
